const test = require('japa');

test('run synchronous job', assert => {
    // TODO
});

test('run asynchronous job', assert => {
    // TODO
});

test('run job with different configurations', assert => {
    // TODO
});

test('job event handlers', assert => {
    // TODO
});