const { test } = use('Test/Suite')('Adonis Queue Pro tests');
const Queue = use('Queue');
const { fork } = require('child_process');
const Helpers = use('Helpers');

// start running queue processor
const worker = fork(Helpers.appRoot() + "/queue_server.js", [], {
    silent: true
});

// sample jobs



// run tests
test('run synchronous job', assert => {
    // TODO
});

test('run asynchronous job', assert => {
    // TODO
});

test('run job with different configurations', assert => {
    // TODO
});

test('job event handlers', assert => {
    // TODO
});
